@model CwoPqsApp.Models.CwoPqs

<div>
    @foreach (var chapter in Model.Sections)
    {
        <div id="section" class="w3-container signature" style="display:none">
            <h2 class="w3-text-theme">NAVEDTRA 43357-2B - 14 March 2020</h2>
            @{
                await Html.RenderPartialAsync("../Sections/Edit", chapter);
            }
        </div>

    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
